* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.MuiBadge-root {
  color: white;
}

.container__Titulo {
  text-align: center;
}

.cardProducto {
  width: 13rem;
}

.grid-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  grid-auto-flow: dense;
  gap: 2px;
  padding: 20px;
  margin: auto;
  justify-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

#loading-container {
  width: 100%;
  height: 100vh
}

.divCount {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin: auto;
  padding: 5px;
}


.imgDetail {
  width: 70%
}

.dvTitle {
  justify-self: flex-start;
}

.dvImagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dvDetail {
  width:50%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainContainer {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: minmax(100px , auto);

}

.cardBody {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconMenu {
  width:50px;
  color: black
}



.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    text-decoration: none;
    color: white;
  }

  .nav-subMenu {
    text-align: center;
    padding: 5px;
    width: 100%;
    display: table;
    text-decoration: none;
    color: white;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

