

.divNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #273036;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.h1Logo {
  color: white;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif;;
  font-weight: bold;
}

.navE {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.lista {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.listadoItem {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  background-color: black;
  padding: 8px;
  border-radius: 15px;
  color: white;
  transition: 300ms;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.listadoItem:hover {
  background-color: orange;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}