

.divNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #273036;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.h1Logo {
  color: white;
  font-family: 'Roboto Slab', serif;;
  font-weight: bold;
}

.navE {
  width: 600px;
  display: flex;
  align-items: center;
}

.lista {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.listadoItem {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  background-color: black;
  padding: 8px;
  border-radius: 15px;
  color: white;
  transition: 300ms;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.listadoItem:hover {
  background-color: orange;
  transform: scale(1.1);
  font-weight: 900;
}

.listaDrop {
  display:none;
}

.MuiBadge-root {
  color: white;
}

.container__Titulo {
  text-align: center;
}

.cardProducto {
  width: 13rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  grid-auto-flow: dense;
  gap: 2px;
  padding: 20px;
  margin: auto;
  justify-items: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

#loading-container {
  width: 100%;
  height: 100vh
}

.divCount {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  margin: auto;
  padding: 5px;
}


.imgDetail {
  width: 70%
}

.dvTitle {
  justify-self: flex-start;
}

.dvImagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dvDetail {
  width:50%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainContainer {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: minmax(100px , auto);

}

.cardBody {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}